<!-- <a routerLink="/dashboard">Dashboard</a> -->
<nav class="navbar">
    <div class="nav-wrapper">
        <span class="brand">Finovent</span>
        <ul class="nav-links">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/create-event">Create Event</a></li>
            <li><a routerLink="/add-resource">Add Resource</a></li>
            <li><a routerLink="/assign-professional">Assign Professional</a></li>
            <li><a routerLink="/update-event-status">Update Status</a></li>
            <li><a routerLink="/add-feedback">Add Feedback</a></li>
            <li><a routerLink="/view-events">View Events</a></li>
        </ul>
        <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
</nav>

<router-outlet></router-outlet>